- title = local_assigns[:title] ? title : Shop.model_name.human.pluralize.humanize

.card

  .card-header
    %h2= title

  .card-body
    .row

      .col-12
        .table-responsive-sm

          %table.table.table-hover.table-sm.align-middle
            %thead.thead-dark.text-center
              %tr
                %th{ scope: 'col' }= t('activerecord.attributes.shop.id').humanize
                %th{ scope: 'col' }= t('activerecord.attributes.shop.name').humanize
                %th.text-right
                  - unless local_assigns[:hide_new]
                    = link_to new_shop_path, class: 'btn btn-sm btn-success' do
                      %i.fas.fa-fw.fa-plus

            %tbody
              - shops.each do |shop|
                %tr
                  %th.text-center{ scope: 'row' }= shop.id
                  %td= shop.name
                  %td.text-center
                    = link_to shop_path(shop), class: 'btn btn-sm btn-info', title: t('shared.action.show') do
                      %i.fas.fa-fw.fa-eye

      - if local_assigns[:pagy]
        .col-12.justify-content-center!= pagy_bootstrap_nav(pagy)
